/* HTML Selectors */
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 800;
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #8f8787;
  font-weight: 600;
}

em {
  color: #fff !important;
}

.container-fluid p em {
  text-shadow:
  -1px -1px 0 #000,
   0   -1px 0 #000,
   1px -1px 0 #000,
   1px  0   0 #000,
   1px  1px 0 #000,
   0    1px 0 #000,
  -1px  1px 0 #000,
  -1px  0   0 #000;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
             }


.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
}

/* Navigation bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3.0rem;
  font-weight: 900;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
             }


.nav-item {
  padding: 0 18px;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-weight: 500;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Footer Container */
#footer .container-fluid {
  padding: 0.1%;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title {
  background-color: #2a363b;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 12%;
  background-image: url(../images/titleimage.png);
  background-size: cover;
  background-position: 90% 10%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Title Image */
.title-image {
  width: 100%;
  position: absolute;
}

/* Features Section */
#features {
  background-color: #fffdf6;
  position: relative;
}

#features .container-fluid {
  padding: 5% 3%;
}

.feature-box {
  padding: 8%;
}

.feature-title {
  font-size: 1.5rem;
}

/* Features Icons */
.features-icons {
  color: #f33535;
  margin-bottom: 1rem;
}

.features-icons:hover {
  color: #232931;
}

.thumbs-up {
  transition: transform .2;
}

.thumbs-up:hover {
  transform: scale(1.5);
}

/* Maple Leaf Icon */
.leaf {
  color: #F5532C;
}

/* Testimonial Section */
#testimonials {
  background-image: url(../images/maplebackground.png);
  background-repeat: no-repeat;
  background-position: bottom;
  color: #fff;
  background-attachment: fixed;

}


.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}
.testimonial-image-aviel {
  width: 25.7%;
  border-radius: 50%;
  margin: 20px;
}

.testimonial-image-david {
  width: 25.7%;
  border-radius: 40%;
  margin: 20px;
}

.testimonial-image-ruby {
  width: 9.7%;
  border-radius: 50%;
  margin: 20px;
}
.testimonial-image-baby {
  width: 14.5%;
  border-radius: 50%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}
/* Pricing Section */
 #pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
}

/* Footer Section */
#footer {
  background-color: #faf6e9;
}

#footer p {
  font-weight: 500;
}

.social-icon {
  margin: 20px 10px;
}

/* Effects Buttons*/
.glow-shake1 {
  /* (For Paragraphs) */
  position: relative;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg,
      #7794ff,
      #44107A,
      #FF1361,
      #F5532C);
  animation: 1.2s shake infinite alternate;
}

@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }

  5% {
    transform: skewX(15deg);
  }

  10% {
    transform: skewX(-15deg);
  }

  15% {
    transform: skewX(15deg);
  }

  20% {
    transform: skewX(0deg);
  }

  100% {
    transform: skewX(0deg);
  }
}

/* For Third Card */
.glow-shake2 {
  position: relative;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-image: linear-gradient(45deg,
      #7794ff,
      #F5532C,
      #FF1361,
      #F5532C);
  animation: 1.2s shake infinite alternate;
}

@keyframes shake {
  0% {
    transform: skewX(-15deg);
  }

  5% {
    transform: skewX(15deg);
  }

  10% {
    transform: skewX(-15deg);
  }

  15% {
    transform: skewX(15deg);
  }

  20% {
    transform: skewX(0deg);
  }

  100% {
    transform: skewX(0deg);
  }
}

.free-button {
  pointer-events: none;
}

audio {
  position: absolute;
  right: 0;
  transform: scale(0.9);
}
/* Media Queries */
@media (max-width:1000px) {


  #title {
    text-align: center;
  }
}
